.ui.fluid.container
  .ui.grid.stackable
    .ui.center.aligned.sixteen.wide.column
      h1 Welcome to Gitlab CI/CD Setup Guide!
    .ui.divider
    .ui.eight.wide.column
      .ui.form
        .field
          input#add_new_field type='button' value='Add New Field' class='ui basic blue button'
        .field
          input name="mytext[]" type="text" /
        #container